.textarea-normal {
    /* padding-right: 30px; */
    margin-top: 20px;
    display: flex;
    text-align: justify;
    font-size: 16px;
    margin-bottom: -20px;
}

.hyperurl {
    font-size: 16px;
    color: #1890ff;
    cursor: pointer;
    /* text-decoration: underline; */
    font-weight: 800;
}

.footer-ul {
    display: inline;
}

.footer-pooper {
    margin-top: 150px;
    display: block;
    height: 250px;
    width: 100%;
    background-color: #1B1B1B;
}

.container-fluid-estate {
    margin: 0;
    background-image: url("../assets/headers/estate.png");
    background-size: cover;
    width: 100%;
    height: 962px;
    background-repeat: no-repeat;
}

.container-fluid-sewing {
    margin: 0;
    background-image: url("../assets/headers/sewing.png");
    background-size: cover;
    width: 100%;
    height: 962px;
    background-repeat: no-repeat;
}

.container-fluid-barokko {
    margin: 0;
    background-image: url("../assets/headers/barokko.png");
    background-size: cover;
    width: 100%;
    height: 962px;
    background-repeat: no-repeat;
}

.container-fluid-school {
    margin: 0;
    background-image: url("../assets/headers/school.png");
    background-size: cover;
    width: 100%;
    height: 962px;
    background-repeat: no-repeat;
}

.container-fluid-town {
    margin: 0;
    background-image: url("../assets/headers/town.png");
    background-size: cover;
    width: 100%;
    height: 962px;
    background-repeat: no-repeat;
}

.container-fluid-futurehouse {
    margin: 0;
    background-image: url("../assets/headers/futurehouse.png");
    background-size: cover;
    width: 100%;
    height: 962px;
    background-repeat: no-repeat;
}

.container-fluid-deals {
    margin: 0;
    background-image: url("../assets/headers/deals.png");
    background-size: cover;
    width: 100%;
    height: 962px;
    background-repeat: no-repeat;
}

.container-fluid-sgs {
    margin: 0;
    background-image: url("../assets/headers/sgs.png");
    background-size: cover;
    width: 100%;
    height: 962px;
    background-repeat: no-repeat;
}

.container-fluid-house {
    margin: 0;
    background-image: url("../assets/castle.png");
    background-size: cover;
    width: 100%;
    height: 962px;
    background-repeat: no-repeat;
}

.icons-li {
    margin-right: 10px;
}

.subject3 {
    display: flex;
    margin-top: -250px;
    margin-left: 480px;
    text-align: justify;
    font-size: 16px;
    margin-bottom: -30px
}

.subject4 {
    display: flex;
    margin-top: 30px;
    margin-left: 480px;
    text-align: justify;
    font-size: 16px;
    margin-bottom: -30px
}

.futurehouse-li {
    display: block;
}

.footer-distributed{
    height: 300px;
	background: #1B1B1B;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #1890ff;
	/* margin: 20px 0 12px; */

	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  rgb(80, 80, 80);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-i {
	filter: brightness(0) invert(1);
}

.footer-distributed .footer-center i{
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #1890ff;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-icons{
	margin-top: 25px;
}
