.container-fluid-collection {
    margin: 0;
    background-image: url("../assets/collection-header.png");
    background-size: cover;
    width: 100%;
    height: 962px;
    background-repeat: no-repeat;
}
