.SearchApp {
    text-align: center;
  }
  .SearchApp-header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

a {
  text-decoration: none;
  color: rgba(22, 76, 167, 1);
      font-size: 9px;
      font-weight: 500;
      letter-spacing: 0.7px;
}

a:hover {
  color: white;
  text-decoration: none;
  color: rgba(22, 76, 167, 1);
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.7px;
}

  .custombtn{
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 30px;
  width: 100px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  }
  .customspan {
      color: rgba(22, 76, 167, 1);
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.7px;
  }
  .customspan:hover {
    animation: rotate 0.7s ease-in-out both
  }
    


  

